<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>
    <!--MENU PARENT-->
    <menuitem
        id="menu_opex_top"
        name="OPEX"
        sequence="6"
        groups="base.group_system,budget_core.group_operation_user,budget_core.group_operation_manager"
    />
    <!--END MENU PARENT-->

    <!--MENU LEFT-->
        <menuitem
            id="menu_oear_left"
            name="OEAR"
            sequence="1"
            parent="menu_opex_top"
            action="action_oear"/>

        <menuitem
            id="menu_contract_left"
            name="Contract"
            sequence="2"
            parent="menu_opex_top"
            action="action_contract"/>

        <menuitem
            id="menu_operation_left"
            name="OPEX Budget"
            sequence="3"
            parent="menu_opex_top"/>

            <menuitem
                id="menu_opex_budget_left"
                name="CC - AC"
                sequence="1"
                parent="menu_operation_left"
                action="budget_core.action_budget_inherit_operation"/>
            <menuitem
                id="menu_opex_budget_accrual_summary_left"
                name="Budget Accruals"
                sequence="2"
                parent="menu_operation_left"
                action="budget_core.action_budget_accrual_summary"/>

            <menuitem
                id="menu_cost_center_left"
                name="Cost Center"
                sequence="3"
                parent="menu_operation_left"
                action="budget_core.action_cost_center"/>

            <menuitem
                id="menu_account_code_left"
                name="Account Code"
                sequence="4"
                parent="menu_operation_left"
                action="budget_core.action_account_code"/>

        <menuitem
            id="menu_report_left"
            name="Report"
            sequence="99"
            parent="menu_opex_top"/>

            <menuitem
                id="menu_accrual_left"
                name="Accruals"
                sequence="1"
                parent="menu_report_left"
                action="budget_core.action_budget_accrual"/>

            <menuitem
                id="menu_opex_budget_plan_left"
                name="Budget Plan"
                sequence="2"
                parent="menu_report_left"
                action="budget_core.action_budget_plan_inherit_operation"/>

    <!--END MENU LEFT-->

    <!--MENU LEFT-CHILD-->
    </data>
</openerp>
